/* ROOT */
:root {
    --bg-black: #000;
}

.bg-black {
    background-color: var(--bg-black);
}


.top-header {
    min-height: 30px;
}

.top-header > svg {
    height: 20px;
    line-height: 30px;
}

.bottom-header {
    min-height: 50px;
}

.bottom-header

.bi-list::before {
    font-size: 30px;
    width: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
}

/* JUMBOTRONS BG IMAGES */
.jumbotron {
    padding-top: 350px;
    margin-top: 80px;
    min-height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top center;
    background-size: cover;
}
.middle-page-jumbotron {
    padding-top: 150px;
    min-height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top center;
    background-size: cover;
}

/* FOOTER LOGO SIZES */
#language-globe {
    width: 20px;
}

#sie-logo {
    width: 80px;
}