/* ROOT */
:root {
    --bg-black: #000;
}

.bg-black {
    background-color: var(--bg-black);
}


.top-header {
    min-height: 30px;
}

.top-header > svg {
    height: 20px;
    line-height: 30px;
}

.bottom-header {
    height: 50px;
}

.bottom-header .list-inline-item {
    color: grey;
}

.bottom-header .list-inline-item:hover {
    color: black;
    cursor: pointer;
}

.bi-list::before {
    font-size: 30px;
    width: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
}

/* JUMBOTRONS BG IMAGES */
.jumbotron {
    padding-top: 300px;
    margin-top: 80px;
    min-height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top center;
    background-size: cover;
}

.jumbotron > .row > .col > img {
    width: 300px;
}

.middle-page-jumbotron {
    min-height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top center;
    background-size: cover;
}

.middle-page-jumbotron > .row > .col > img {
    width: 300px;
}

.rounded-hand-3 {
    border-radius: 3rem;
    transition: transform .5s;
}

.thumbnails > div > img:hover {
    transform: translateY(-20px);
}

.accessories > .row > div {
    opacity: .5;
}

.accessories > .row > div:hover,
.accessories > .row > div[class*="accessories-active"] {
    cursor: pointer;
    opacity: 1;
    border-bottom: 2px solid blue;
}


/* FOOTER LOGO SIZES */
#language-globe {
    width: 20px;
}

#sie-logo {
    width: 80px;
}